html, body {
  display: grid;
  justify-content: center;
  align-content: center;
}

.light {
  background-color: #f7f7f7;
  color: #333;

  font-family: 'Roboto Slab', serif;
}

.dark {
  background-color: #333;
  color: #fff;

  font-family: 'Lato', sans-serif;
}

.pink {
  background-color: pink;
  color: #fff;
  font-family: 'Henny Penny', cursive;
}

.loading {
  display: none;
}